@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');


:root{
  --clr-bg: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  --clr-scirssors: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));

  --clr-paper: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));

  --clr-rock: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));

  --clr-dark: hsl(229, 25%, 31%);
  --clr-score: hsl(229, 64%, 46%);
  --clr-header: hsl(217, 16%, 45%);

  --fw-normal: 600;
  --fw-bold: 700;
}

*::after, *::before, * { 
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Barlow Semi Condensed';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media (max-width: 576px) {
  .container {
      width:90%;
  }
}
@media (min-width: 577px) {
  .container {
      width:560px;
  }
}

@media (min-width: 768px) {
  .container {
      width:750px;
  }
}

